:root {
    --spotify-green: #1DB954;
    --spotify-white: #FFFFFF;
    --spotify-black: #191414;
}

/* #region Type selectors */

a {
    color: var(--spotify-green);
}

body {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-family: sans-serif;
}

img {
    margin: 15px 15px 15px 15px;
}

/* #endregion Type selectors */
/* #region Class selectors */

img.rounded {
    border-radius: 15%;
}

/* #endregion Class selectors */
/* #region ID selectors */

#start-page {
    margin: auto;
    width: 60%;
    text-align: center;
}

/* #endregion ID selectors */