:root {
    --spotify-green: #1DB954;
    --spotify-white: #FFFFFF;
    --spotify-black: #191414;
}

a {
    color: var(--spotify-green);
}

body {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-family: sans-serif;
}